/* ABOUT SECTION */
/* Seção "Sobre Nós" – layout em duas colunas (imagem e texto) */
.aboutSection {
    display: flex;
    width: 100%;
    height: 100vh; /* Ocupa a altura total da viewport em telas maiores */
}

/* Container para a imagem de fundo */
.imageContainer {
    flex: 1;
    background: url('/img/about_image.webp') center center no-repeat;
    background-size: cover;
}

/* Container para o bloco de texto */
.textContainer {
    flex: 1;
    background-color: var(--BGCOLOR);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    text-align: center;
}

/* RESPONSIVIDADE - Mobile */
@media (max-width: 768px) {
    .aboutSection {
        flex-direction: column;
        height: auto;
    }

    .imageContainer {
        width: 100%;
        height: 50vh;
    }

    .textContainer {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
}

